.audio-large-window {
	background-color: #504e4a !important;
	border-radius: 16px !important;
	color: white !important;
	position: fixed;
	margin-top: 350px;
	border: none !important;
	box-shadow: none !important;
}

.rhap_progress_bar {
	background-color: #4ade80 !important;
	margin-bottom: 50px;
}

.rhap_time,
.rhap_volume-button,
.rhap_main-controls-button {
	color: white !important;
}

.rhap_container {
	background-color: transparent !important;
}
